# Python
*.pyc
__pycache__/
*.pyo
*.pyc
*.pyd
*.pyw
*.pyz
*.pyzw
*.swp

# Django
*.log
*.pot
*.pyc
*.sqlite3
__pycache__/
local_settings.py
db.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Virtual environment
venv/
venv*/
*.venv
ENV/

# IDE files
.vscode/
.idea/
*.sublime-*
*.iml

# Dependency directories
node_modules/
.env
